node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Cloudflare Types
/worker-configuration.d.ts

# Tooling
.agent
.orchids
.vscode
.claude
.agents
.codex
.superpowers
/AGENTS.md
/CLAUDE.md
/GEMINI.md
/GEMINI..md
/gemini.md
/claude.md
/agents.md
.qwen